
<footer class="footer">
    {% include social.html %}
    <ul>
        <li>
            <a href="index.html">Homepage</a>
        </li>
        <li>
            <a href="about.html">About</a>
        </li>
        <li>
            <a href="classes.html">Classes</a>
        </li>
        <li>
            <a href="contact.html">Contact</a>
        </li>
        <li>
            <a href="https://medium.com/@TreloganYoga">Blog</a>
        </li>
    </ul>
    <p>2016 © Trelogan Yoga. Designed and built by <a href="http://www.lilianakastilio.co.uk">Liliana Kastilio</a></p>
</footer>