<head>
    <title>{{ page.title }}| Trelogan Yoga </title>
    <!--Meta Data-->
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="created" content='13th May 2016 19:37' />
    <meta name="description" content="Trelogan Yoga" />
    <meta name="author" content="Trelogan Yoga" />
    <meta name="copyright" content="All text content and images copyright Trelogan Yoga" />
    <meta name="company" content="Trelogan Yoga" />
    <!--Facebook-->
    <meta property="og:title" content="{{ page.title }}| Trelogan Yoga">
    <meta property="og:image" content="img/favicon.png">
    <meta property="og:description" content="Trelogan Yoga">
    
    <!-- Latest compiled and minified CSS -->   
    <link href="css/screen.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
</head>