.form {
  margin: 0 auto;
  width: 100%;
  max-width: 20em;
  padding: 1em; }
  .form input[type=text] {
    display: block;
    width: 100%;
    padding: 1em;
    margin: 1em auto 1em auto;
    border: 1px solid #f1f1f1;
    color: #3c3c3c; }
  .form input[type=email] {
    display: block;
    padding: 1em;
    margin: 0 auto 1em auto;
    width: 100%;
    border: 1px solid #f1f1f1;
    color: #3c3c3c; }
  .form input[type=number] {
    display: block;
    padding: 1em;
    margin: 0 auto 1em auto;
    width: 100%;
    border: 1px solid #f1f1f1;
    color: #3c3c3c; }
  .form input[type=submit] {
    display: block;
    padding: 1em;
    margin: 0 auto 1em auto;
    width: 100%;
    border: none;
    opacity: 0.7;
    box-shadow: 0.5em 0.5em 0px rgba(0, 0, 0, 0.1);
    background-color: #FFC8C3;
    color: #3c3c3c; }
    .form input[type=submit]:hover {
      opacity: 1; }
  .form textarea {
    display: block;
    width: 100%;
    padding: 1em;
    margin: 0 auto 1em auto;
    border: 1px solid #f1f1f1;
    color: #3c3c3c; }

.footer {
  background: #FFC8C3;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 14em;
  text-align: center; }
  .footer ul {
    margin: 0 auto;
    max-width: 30em;
    display: inline-block; }
  .footer p, .footer a {
    color: #5E5251; }
  .footer li {
    padding: 1em; }

body, html {
  padding: 0;
  margin: 0;
  height: 100%; }

.image-section {
  height: 30em;
  width: 100%; }

.column-2 {
  margin-left: -5em; }

.column-2-item {
  display: inline-block;
  width: 50%;
  display: inline-block;
  vertical-align: top; }

.about-image {
  width: 20em;
  display: inline-block; }

.homepage {
  background: url("../img/trelogan-yoga-homepage-image.jpeg") center center no-repeat;
  background-size: cover; }

.classes {
  background: url("../img/background-image-04.jpeg") center center no-repeat;
  background-size: cover;
  max-height: 15em; }

.contact {
  background: url("../img/background-image-03.jpeg") center center no-repeat;
  background-size: cover;
  max-height: 15em; }

.about {
  background: url("../img/background-image-01.jpeg") center center no-repeat;
  background-size: cover;
  max-height: 15em; }

.text-section {
  max-width: 40em;
  margin: 0 auto;
  padding: 2em; }

h1, h2, h3 {
  text-align: center;
  padding: 0;
  margin: 0; }

.main-wrap {
  min-height: 100%;
  position: relative; }

.map-section {
  width: 100%;
  height: 30em; }

.content {
  margin: 0 auto;
  padding-bottom: 14em; }

.nav-main {
  max-width: 30em; }
  .nav-main .span {
    max-width: 32em; }
  .nav-main ul {
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    padding: 1em; }
  .nav-main li {
    flex: 1;
    padding: 1em; }
  .nav-main a {
    color: #3c3c3c; }

.img-container {
  margin: 0 auto; }

.logo-container {
  max-width: 20em;
  margin: 0 auto;
  text-align: center; }

.logo {
  max-width: 100%; }

nav {
  margin: 0 auto;
  text-align: center; }

ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: inline-block; }
  ul li {
    display: inline-block;
    margin: 0 auto; }

a {
  text-decoration: none; }

.social-nav {
  padding: 1em;
  background: #fff; }

.social-icon {
  width: 2em; }

.span {
  position: relative;
  display: inline-block;
  line-height: 1;
  max-width: 40em; }

.span:before,
.span:after {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  background: #3c3c3c;
  width: 4em; }

.span:before {
  left: 100%;
  margin-left: 1em; }

.span:after {
  right: 100%;
  margin-right: 1em; }

/*# sourceMappingURL=screen.css.map */
