.footer {
  background: $color-accent;
  bottom: 0;
  min-height: $footer-height;
  position: absolute;
  text-align: center;
  width: 100%;

  ul {
    display: inline-block;
    margin: 0 auto;
    max-width: $max-width / 2;
  }

  p,
  a {
    color: $color-footer-text;
  }

  li {
    padding: $padding-value;
  }
}
