$submit-box-shadow-color: rgba(0, 0, 0, .1);

.form {
  margin: 0 auto;
  max-width: 20em;
  padding: $padding-value;
  width: 100%;

  &:hover {
    opacity: 1;
  }
}

input {

  border: 1px solid $grey;
  color: $black;
  display: block;
  width: 100%;

  &[type=text] {
    margin: $padding-value auto;
    padding: $padding-value;
  }

  &[type=email] {
    margin: 0 auto $padding-value;
    padding: $padding-value;
  }

  &[type=number] {
    margin: 0 auto $padding-value;
    padding: $padding-value;
  }

  &[type=submit] {
    background-color: $color-accent;
    border: 0;
    box-shadow: .5em .5em 0 $submit-box-shadow-color;
    margin: 0 auto $padding-value;
    opacity: .7;
    padding: $padding-value;
  }
}


textarea {
  border: 1px solid $grey;
  color: $black;
  display: block;
  margin: 0 auto $padding-value;
  padding: $padding-value;
  width: 100%;
}
