.form {
  margin: 0 auto;
  width: 100%;
  max-width: 20em;
  padding: $padding-value;


  input[type=text] {
    display: block;
    width: 100%;
    padding: $padding-value;
    margin: $padding-value auto $padding-value auto;
    border: 1px solid $grey;
    color: $black;
  }

  input[type=email] {
    display: block;
    padding: $padding-value;
    margin: 0 auto $padding-value auto;
    width: 100%;
    border: 1px solid $grey;
    color: $black;
  }

  input[type=number] {
    display: block;
    padding: $padding-value;
    margin: 0 auto $padding-value auto;
    width: 100%;
    border: 1px solid $grey;
    color: $black;
  }

  input[type=submit] {
    display: block;
    padding: $padding-value;
    margin: 0 auto $padding-value auto;
    width: 100%;
    border: none;
    opacity: 0.7;
    box-shadow: .5em .5em 0px rgba(0,0,0,.1);
    background-color: $color-accent;
    color: $black;
    &:hover { 
      opacity:1;  
    }
  }


  textarea {
    display: block;
    width: 100%;
    padding: $padding-value;
    margin: 0 auto $padding-value auto;
    border: 1px solid $grey;
    color: $black;
  }
}