$max-width: 60em;
$max-text-width: 60em;
$padding-value: 1em;
$footer-height: 14em;
$font-family-core: 'Arimo', sans-serif;
$font-weight-core: 400;
$font-family-cursive: "le-monde-livre-classic-std-s", 'Arimo', sans-serif;


$white: #fcfcfc;
$black: #444;
$pink: #FFC8C3;
$pink-grey: #5E5251;
$grey: #f1f1f1;
$color-footer-text: $pink-grey;
$color-accent: $pink;
$color-background-light: $white;
$color-background-dark: $black;