$max-width: 60em;
$max-text-width: 40em;
$padding-value: 1em;
$footer-height: 14em;

$white: #fcfcfc;
$black: #3c3c3c;
$pink: #FFC8C3;
$pink-grey: #5E5251;
$grey: #f1f1f1;
$color-footer-text: $pink-grey;
$color-accent: $pink;
$color-background-light: $white;
$color-background-dark: $black;